<!DOCTYPE html>
<html>
  <head>
    <title>{{ value }} - Happy New Year </title>
  </head>
  <body>
     <form method="POST">
        <h1 style="color:blue;font-size:300%;">
            {{ value }}<br/><br/>
            <i>I wish you and your family Happy New Year!<br/><br/></i>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Steven
            <br/><br/>
         </h1>
        <img height="900" src="/static/HappyNewYear.jpg" width="900" alt= "{{ value }} Happy New Year">
    </form>
  </body>
</html>
